@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

h1 {
    font-size: 3.125rem;
    line-height: 4rem;
    color: black;
}

h2 {
    text-align: center;
    margin-top: 2vh;
    font-size: 5rem;
    color: #38bff3;
    line-height: 6rem;
}

h2 span {
    display: block;
}

h4 {
    font-size: 4.0625rem;
    color: black;
}

h3 {
    font-size: 1.75rem;
    color: #38bff3;
}

h6 {   
    font-weight: 900;
    font-size: 1.25rem;
}

.section-p1 {
    padding: 5rem 11.25rem;
}

.section-m1 {
    margin: 2.5rem 0;
}

body {
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 90px;
    background: #38bff3;
    box-shadow: 0 5px 15px rgba(3, 147, 204, 0.999);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#header .logo {
    max-width: 350px;
    height: 150px;
    margin-left: -55px;
    padding-left: 20px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: black;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 50%;
    height: 2px;
    background: black;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#close{
    display: none;
}

#hero-1 {
    background-image: url("img/Hero.2.jpg");
    height: 90vh;
    width: 100%;
    margin: 0;
    background-size: cover; 
    background-position: center top;
    background-repeat: no-repeat;
    padding: 30px 30px;
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

 #hero-1 button {
    background-image: url("img/h4.png");
    background-color: transparent;
    margin-top: 40px;
    color: white;
    border: 0;
    padding: 14px 40px 14px 40px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 25px;
}

#feature {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
#feature .feature-box:hover {
    box-shadow: 5px 5px 24px rgba(3, 147, 204, 0.323);
}
#feature .feature-box {
    width: 220px;
    text-align: center;
    padding: 15px 0;
    box-shadow: 5px 5px 24px rgba(3, 147, 204, 0.323);
    border-radius: 14px;
    margin: 15px 0;
}

#feature .feature-box img {
    width: 100%;
    height: auto;
    max-width: 170px;
    border-radius: 50%; 
}

#feature .feature-box h6 {
    margin-top: 30px; 
}

#hero1 {
    background-image: url("img/water-glass-outdoor.jpg");
    height: 75vh;
    width: 100%;
    margin: 0;
    background-size: cover; 
    background-position: center top;
    background-repeat: no-repeat;
    padding: 30px 30px;
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero2 {
    width: 100%; 
    height: 75vh;
    overflow: hidden; 
    position: relative;
}
.hero2 video {
    width: 42%;
    height: auto;
    object-fit: contain;
    position: absolute;
    top: 57%;
    left: 3%;
    margin-top: 11vh;
    transform: translate(68px, -130px) translateY(-50%);
} 

p.UF {
    font-size: 3rem;
    text-align: center;
    padding-right: 5vh;
    margin-left: 110vh;
    margin-top: 6vh;
}


#product1 {
    text-align: center;
    background-color: whitesmoke;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid white;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 5px 5px 24px rgba(3, 147, 204, 0.323);
    margin: 15px 0;
    transition: 0.2s ease;
    position:relative;
}

#product1 .pro:hover{
    box-shadow: 5px 5px 24px rgba(3, 147, 204, 0.323);
}

#product1 .pro img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 20px;
}

#product1 .pro .pro-info {
    padding: 10px 0;
}

#product1 .pro .pro-info h4{
    padding-top: 7px;
    color: black;
    font-size: 29px;
    margin-bottom: 30px;
}

#product1 .pro .cart {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    background-color: #38bff3;
    border: 1px solid white;
    position: absolute;
    bottom: 20px;
    right: 30px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #38bff3;
    height: auto;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 85px;
    text-align: center;
}

footer .col:last-child {
    margin-right: 250px;
}

footer .logo {
    height: 200px;
    width: auto;
    margin-right: 100px;
    margin-bottom: 30px;
}

footer h4 {
    color: white;
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 20px;
}

footer p {
    font-size: 26px;
    margin: 10px 0 8px 0;
}

footer a {
    font-size: 26px;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}

/*SHOP PAGE*/

#page-header h2 {
    font-size: 100px;
    margin-left: 30px;
    color: #fff;
    padding: 50px;
    margin-top: 100px;
}

#page-header h2 span {
    margin-bottom: 20px; 
    display: block; 
}

/*Single Product */

#prodetails {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

#prodetails .single-pro-image {
    width: 35%;
    margin-right: 5rem;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 25%;
    cursor: pointer;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 3rem;
}

#prodetails .single-pro-details h6 {
    font-size: 6rem;
}

#prodetails .single-pro-details h4 {
    padding: 4rem 0 2rem 0;
    font-size: 4rem;
}

#prodetails .single-pro-details h2 {
    font-size: 5rem;
}

#prodetails .single-pro-details select {
    display: block;
    padding: 0.625rem 1.25rem;
    margin-bottom: 2rem;
}

#prodetails .single-pro-details input {
    width: 6.875rem;
    height: 5.625rem;
    padding-left: 1.25rem;
    font-size: 3.125rem;
    margin-right: 1.25rem;
}

#prodetails .single-pro-details input:focus {
    outline: none;
}

#prodetails .single-pro-details button {
    font-size: 2.5rem;
    background-color: green;
    color: white;
    border: 0;
    padding: 1.25rem 1.875rem;
    border-radius: 2rem;
    cursor: pointer;
    margin-top: 2rem;
}

#prodetails .single-pro-details span {
    font-size: 3.125rem;
    line-height: 4.375rem;
}

/*About Page*/

#hero-about {
    background-image: url("img/hero.3.jpg");
    height: 110vh;
    width: 100%;
    margin: 0;
    background-size: cover; 
    background-position: center top;
    background-repeat: no-repeat;
    padding: 3.125rem 3.125rem;
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero-about h2 {
    font-size: 10rem;
    color: black;
    align-self: center;
    margin-bottom: 5rem;
}

#about-head {
    display: flex;
    align-items: center;
}

#about-head img {
    width: 50%;
    height: auto;
}

#about-head h2 {
    font-size: 5.625rem;
    font-weight: 700;
    line-height: 8rem;
}


#about-head p {
    font-size: 2.8125rem;
    margin: 1.25rem 0 3rem 0;
    line-height: 5rem;
}

/*Contact Us*/


#hero-contact {
    background-image: url("img/banner.5.jpg");
    height: 110vh;
    width: 100%;
    margin: 0;
    background-size: cover; 
    background-position: center top;
    background-repeat: no-repeat;
    padding: 3.125rem 3.125rem;
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero-contact {
    text-align: left;
}

#hero-contact .title h2 {
    font-size: 7.875rem;
    line-height: 15vh;
   text-align: center;
   padding-right: 100vh;
}

#contact-head img {
    width: 100%;
    height: auto;
    border-radius: 1.875rem;
}

#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details {
    width: 50%;
    height: 60%;
}

#contact-details .details h3 {
    font-size: 8rem;
    font-weight: 800px;
    margin-bottom: 4rem;
}

#contact-details .details p {
    font-size: 3.375rem;
    margin: 6rem 0 4rem 0;
}

li i {
    font-size: 3.125rem;
}

#contact-details .map {
    width: 40%;
    height: 40vh;
    margin-bottom: 180px;
}


#form-details {
    display: flex;
    justify-content: space-between;
    margin: 3.75rem;
}

#form-details form {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 3.75rem;
}


#form-details form h6 {
    font-size: 2.5rem;
}


#form-details form h2 {
    line-height: 150%;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    font-size: 1.562rem;
    padding: 1.375rem 1.25rem;
    outline: none;
    margin-bottom: 1.25rem;
    border: 1px solid;
    border-radius: 1rem;
}


#form-details form button {
    font-size: 1.5625rem;
    background-color: green;
    color: white;
    border: 0;
    padding: 1.25rem 1.875rem;
    border-radius: 1.25rem;
    cursor: pointer;
    margin-bottom: 1.25rem;
}

    input[type="text"]::placeholder {
    color: #999; 
    font-style: italic; 
    font-size: 1.625rem;
} 
 
    textarea::placeholder {
    color: #999;
    font-style: italic;
    font-size: 1.625rem;
}

#form-details img {
    width: 80vh;
    height: 65vh;
    margin-right: 2.5rem;
    margin-top: 0.625rem;
    border-radius: 1.875rem;
}

